<div data-radium="true">
	<span class="estrella">
		<span>
			<i  class="fa fa-star-o" aria-hidden="true" ng-click="calificar(0)"></i>
			<i ng-if="index<=0" class="fa fa-star" data-radium="true" ></i>
		</span>
		<span >
			<i class="fa fa-star-o" aria-hidden="true" ng-click="calificar(1)"></i>
			<i ng-if="index<=1" class="fa fa-star" data-radium="true" ></i>
		</span>
		<span >
			<i class="fa fa-star-o" aria-hidden="true" ng-click="calificar(2)"></i>
			<i ng-if="index<=2" class="fa fa-star" data-radium="true" ></i>
		</span>
		<span >
			<i class="fa fa-star-o" aria-hidden="true" ng-click="calificar(3)"></i>
			<i ng-if="index<=3" class="fa fa-star" data-radium="true" ></i>
		</span>
		<span >
			<i class="fa fa-star-o" aria-hidden="true" ng-click="calificar(4)"></i>
			<i ng-if="index<=4" class="fa fa-star" data-radium="true" ></i>
		</span>
	</span>
</div>