<div class="panel container-fluid detalle">
	<div class="col-sm-8 detalle_info">
		<h1 >{{vm.libro[0].titulo}}</h1>
		<div class="col-sm-11">
			<p>{{vm.libro[0].descripcion}}</p>
		</div>
		<div  class="col-sm-1" ><div style="height: 480px; width: 2px; background-color: rgb(245, 245, 245);"></div></div>
	</div>
	<div class="col-sm-4 ">
		<div class="col-sm-12 detalle_img">
			<img src="content/imagenes/libro/portada/{{vm.libro[0].ruta_portada}}">
		</div>
		
		<div class="col-sm-12 detalle_reserva">
			<ng-calificar data-toggle="modal" data-target="#comentar"></ng-calificar>
			<div class="col-sm-12">
				<label>AUTORES :</label><span>{{vm.libro[0].nombre}}</span>
			</div>
			<div class="col-sm-12">
				<label>AÑO :</label><span>1988</span>
			</div>
			<div class="col-sm-12">
				<a data-toggle="modal" data-target="#myModal">Reservar</a>
			</div>
		</div>
	</div>	
</div>

<div  class="panel container-fluid" ng-if="vm.comentarios[0]">
	<p class="detalle_resena">
		<span >QUÉ ESPERAR DE ESTE LIBRO</span>
		<a data-toggle="collapse" data-target="#comentarios">Ver todos los Comentarios</a>
	</p>
	<div class="resena">
		<div class="resena_caja" ng-repeat="comentario in vm.comentarios | limitTo :4">
			<div>
				<a >
					<img src="https://horcrux4.beek.io/ZIwDGtK5MPckFjDTtvLZATzVNgI=/200x200/smart/store/06870620607f357f38319ed2bf8e9ba922e8243b2cd78b1178bff7c25ebb" alt="MALIK PARAQUE LEER" itemprop="image" style="width: 40px; height: 40px; border-radius: 100px;">
				</a>
			</div>
			<div >
				<p style="margin-left: 10px;">
					"{{comentario.comentario}} "
					<span style="font-weight: bold;display: block;">
						{{(comentario.nombres +" "+ comentario.ap_paterno +" "+ comentario.ap_materno).substring(0,20) +"..." }}
					</span>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="comentarios" class="collapse">
	<div class="col-sm-8 panel comentarios">

		<div class="comentario"  ng-repeat="comentario in vm.comentarios">
			<div  data-radium="true" class="comentario_caja">
				<div class="comentario_autor" data-radium="true" >
					<a >
						<img src="https://horcrux2.beek.io/sDsfywoVM-EZGJIkaZKPs1w46T8=/200x200/smart/store/2eb99cfa3b206eb76d5c5cddfc2ae10eec5f60d865a7566689c32af1df56" alt="Juan Carlos Carrizales">
					</a>
					<a class="autor"  data-radium="true">
						<p  data-radium="true" >{{comentario.nombres +" "+ comentario.ap_paterno +" "+ comentario.ap_materno}}
						</p>
					</a>
					<div style="display: flex; align-items: center;">
						<img src="content/imagenes/emojis/{{comentario.emoji}}" style="width: 16px; height: 16px;">
						<ng-calificar></ng-calificar>
					</div>
					<p class="comentario_fecha" data-radium="true" >{{vm.fecha(comentario.fecha) | date:'dd MMM yyyy'}}</p>
				</div>
				<div class="comentario_texto">
						<p >
							<span>{{comentario.comentario}}</span>
						</p>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-4 paddding_right ">
		<p style="font-family: &quot;Nunito Sans&quot;; font-size: 16px; color: rgb(74, 74, 74); font-weight: bold;">Estadísticas de este libro
		</p>
		<div class="estadistica_libro">
			<div class="estadistica_emoji">
				<img src="content/imagenes/emojis/happy.png">
				<div>Reacciones</div>
				<p>358</p>
			</div>
			<div class="estadistica_emoji">
				<img src="content/imagenes/emojis/star_emoji.png" >
				<div>Calificaciones</div>
				<p >298</p>
			</div>
			<div class="estadistica_emoji">
				<img src="content/imagenes/emojis/conversation-image.png" >
				<div >Comentarios :</div>
				<p >{{vm.comentarios.length}}</p>
			</div>
			<div class="estadistica_emoji">
				<img src="content/imagenes/emojis/writing.svg" >
				<div >Libros con el mismo autor</div>
				<p >27</p>
			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header reserva_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
        <div class="col-sm-2"><img src="content/imagenes/icons/logo.png" ></div>
        <div class="col-sm-8"><h4 class="modal-title" id="myModalLabel">BIBLIOTECA UNIVERSIDAD NACIONAL AMAZÓNICA DE MADRE DE DIOS</h4></div>        
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="vm.reservar()" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="comentar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog"  role="document">
		<div class="modal-content comentar">
					<div >
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="comentar_body">
						<div style="display: flex; align-items: center;"><p style="font-family: &quot;Nunito Sans&quot;; font-size: 16px; font-weight: bold; margin-bottom: 0px; color: rgb(36, 33, 53);">¡Calificación guardada! Escribe una reseña:</p>
						</div>
						<img src="content/imagenes/libros/portada/{{vm.libro[0].ruta_portada}}.jpg" class="book-page-image" >
						<div style="margin-top: 10px;"></div>
						<p >{{vm.libro[0].titulo}}</p>
						<ng-calificar></ng-calificar>
						<p >¿Qué sentiste al leerlo?</p>
						<div style="margin-top: 10px;"></div>
						<div class="comentar_emoji">
							<div ng-class="{'activate_emoji':vm.newComentario.emoji=='happy.png'}">
								<img  src="content/imagenes/emojis/happy.png"  ng-click="vm.newComentario.emoji='happy.png'">
							</div>
							<div ng-class="{'activate_emoji': vm.newComentario.emoji=='in-love.png'}">
								<img src="content/imagenes/emojis/in-love.png" ng-click="vm.newComentario.emoji='in-love.png'">
							</div>
							<div ng-class="{'activate_emoji':vm.newComentario.emoji=='angry.png'}">
								<img src="content/imagenes/emojis/angry.png" ng-click="vm.newComentario.emoji='angry.png'">
							</div>
							<div ng-class="{'activate_emoji':vm.newComentario.emoji=='nerd.png'}">
								<img src="content/imagenes/emojis/nerd.png" ng-click="vm.newComentario.emoji='nerd.png'">
							</div>
							<div ng-class="{'activate_emoji':vm.newComentario.emoji=='sad.png'}">
								<img src="content/imagenes/emojis/sad.png" ng-click="vm.newComentario.emoji='sad.png'">
							</div>
							<div ng-class="{'activate_emoji':vm.newComentario.emoji=='surprised.png'}">
								<img src="content/imagenes/emojis/surprised.png" ng-click="vm.newComentario.emoji='surprised.png'">
							</div>
						</div>
						<textarea placeholder="Escribe un comentario (opcional)" ng-model="vm.newComentario.comentario"></textarea>
						<div style="display: flex; width: 100%; align-items: center; margin-top: 18px; justify-content: space-evenly;">
							<a ng-click="vm.comentar()">Publicar</a>
						</div>
					</div>

		</div>
	</div>
</div>